#chat-form input[type='text'] {
    width: 100%;
}

.chat-widget-toolbar {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8em;
    z-index: 999;
}

.chat-widget-toolbar a {
    opacity: 0.3;
    margin-left: 10px;
}

.chat-widget-toolbar a:hover {
    opacity: 1.0;
}

.chat-widget-normal, .chat-widget-minimized, .chat-widget-maximized {
    position: fixed;
    bottom: 0;
    right: 30px;
    padding: 2px;
    border: 1px solid #888;
}

.chat-widget-normal, .chat-widget-maximized {
    background: white;
    box-shadow: 3px 0 5px 0 rgba(173,173,173, 0.8);
}

.chat-widget-minimized {
    width: 300px;
    height: 18px;
    background: #efefef;
}

.chat-widget-minimized a {
    text-decoration: none;
    color: #333;
}

.chat-widget-minimized a:hover {
    color: #999;
}

.chat-widget-normal {
    width: 300px;
    height: 300px;
}

.chat-widget-maximized {
    width: 800px;
    height: 450px;
}

.chat-widget-mentioned {
    -webkit-animation: backgroundBlink 1s linear infinite;
    -moz-animation: backgroundBlink 1s linear infinite;
    animation: backgroundBlink 1s linear infinite;
}

#chat-form input.chat-input-mentioned {
    -webkit-animation: borderBlink 1s linear infinite;
    -moz-animation: borderBlink 1s linear infinite;
    animation: borderBlink 1s linear infinite;
}

#chat-widget-messages-container {
    max-height: 265px;
    min-height: 265px;
    position: relative;
}

.chat-messages {
    max-height: 265px;
    min-height: 265px;
}

.chat-widget-maximized .chat-messages,
.chat-widget-maximized #chat-widget-messages-container {
    max-height: 415px;
    min-height: 415px;
}

.chat-messages {
    overflow: scroll;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.chat-message {
    margin-bottom: 5px;
}

.chat-message.unread {
    -moz-animation: fadeIt 5s ease-in-out;
    -webkit-animation: fadeIt 5s ease-in-out;
    animation: fadeIt 5s ease-in-out;
}

.chat-message-body {
    font-size: 0.9em;
}

.chat-message-info {
    color: #aaa;
    font-size: 0.7em;
    font-weight: 300;
    margin-left: 30px;
    clear: both;
}

@keyframes fadeIt {
    0%   { background-color: #FFFFFF; }
    50%  { background-color: #ffeb8e; }
    100% { background-color: #FFF8DC; }
}

@keyframes backgroundBlink {
    0% { background-color: #efefef; }
    50% { background-color: #ffeb8e; }
    100% { background-color: #FFF8DC; }
}

@keyframes borderBlink {
    0% { border-color: #ccc; }
    50% { border-color: #000; }
}
